.post-card {
    padding: 16px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    border-radius: 4px;

    .title {
        color: #000;
        font-size: 1.6rem;
        margin-bottom: 8px;
    }
}
