.error {
    color: red;
    margin-top: 8px;
    display: inline-block;
}

.error-block {
    background: #ffa7a7;
    padding: 16px;
    width: 100%;
    margin-bottom: 16px;
    border-left: 4px solid red;
}
